body {
    background-color: #000319;
    margin-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow-x: hidden;
}

* {
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 17px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #2f2fa9, #a76969);      /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #3f51b500;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid white;  /* creates padding around scroll thumb */
}

top {
    margin-bottom: 50px;
}
@media (max-width: 1500px) {
    .section {
        width: 70% !important;
    }
}

@media (max-width: 740px) {
    .section {
        width: 90% !important;
        margin-right: 40px !important;
    }
    #nav {
        display: inline !important;
    }
    nav ul {
        display: none !important;
    }
    .img-weathery, .lorem {
        height: 240px !important;
        width: 450px !important;
    }
    .about-me {
        flex-direction: column;
    }
    span {
        background-image: none !important;
    
    }
    h1 {
        font-size: 30px !important;
    }
}

.padding-a {
    padding: 0 10px;
}
@media (max-width: 1030px) {
    #mylogo {
        font-size: 20px !important;
    }
    nav li {
        padding: 0 15px !important;
    }
    a {
        font-size: 1.2rem !important;
    }
    .section {
        width: 90% !important;
    }
    .img-weathery, .lorem {
        height: 377px !important;
        width: 650px !important;
    }

}

@media (max-width: 600px) {
    header nav {
        justify-content: flex-start !important;
    }
    .img-weathery, .lorem {
        height: 240px !important;
        width: 450px !important;
    }
}

@media (max-width: 500px) {
    .img-weathery, .lorem {
        height: 179px !important;
        
        width: 311px !important;    
    }
    #mylogo {
        font-size: 15px !important;
    }
    #footer-section {
        margin-left: 40px !important;
    }
    .icon-container > a > .icon {
        padding: 0 20px !important;
    }
    .picture {
        width: 240px !important;
        height: 240px !important;
    }
}
#nav {
    display: none;
}

#second-nav {
    display: none;
    margin-top: 70px;
    height: 70px;
    border-bottom: 1px solid white;
    width: 95%;
    position: fixed;
    background-color: black;
}

#ul {
    display: none;
}

h1 {
    font-size: 42px;
    margin: 30px auto;
}
main {
    margin-top: 70px;
    margin-right: -10;
    margin-left: -10;
}
header {
    width: 100%;
    height: 69px;
    top: 0;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index:10;
    background-color: #050512
}

h1 > span {
    height: 40px;
    background-image: linear-gradient(90deg, #3d1d828f, #052c409c);
    padding: 15px 10px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;

    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

a:hover {
    color: rgb(160, 214, 214);
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

.centralize {
    display: flex;
    width: 100%;
    justify-content: center;
}

.border-radius {
    border-radius: 15px;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
nav li {
    display: inline-block;
    padding: 0 30px;
}

article li {
    font-size: 22px;
    padding-left: 15px;
    padding-top: 7px;
}


.logo {
    padding: 0 30px;
    font-size: 2rem;
    font-weight: bold;
    margin: auto 0;
}

section {
    width: 100%;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 1.7rem;
    letter-spacing: 0.07rem;
}

figcaption p {
    font-size: 15px;
    opacity: 90%;
    line-height: 1.2rem;
}
figcaption a {
    font-size: 16px;
    text-decoration: underline;
}

main a {
    text-decoration: underline;
}
section {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: #0003190d
}

.intro {
    padding: 30px;
    margin-top: 70px;
    border: none;
}

.section-banner {
    padding: 30px;
    margin-top: 100px;
}

.img-weathery {
    height: 478px;
    width: 801px;
    margin: 30px 0;
}
.section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-me {
    display: flex;
    justify-content: flex-end;
}

.picture {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.intro-container p {
    text-align: center;
}

.logo-container {
    display: flex;
}

.h2 {
    font-size: 42px;
}

#weathery {
    background-image: linear-gradient(180deg, #00244d78, #49000045);
}
#lorem {
    background-image: linear-gradient(130deg, #5935139e, #0002ba3d);
}
#reddit {
    background-image: linear-gradient(44deg, #2196f338, transparent);
}
#game-of-divs {
    background-image: linear-gradient(44deg, #06225170, #05392b6e);
}
#birthday {
    background-image: linear-gradient(149deg, #210651ba, #0a39059c);
}
#game-idea {
    background-image: linear-gradient(149deg, #ac440eba, #0255b49c);
}
#footer {
    display: flex;
    justify-content: center;
    border-bottom: none;
    background-color: black;
}

footer p {
    text-align: center;
}
.padding-bottom {
    margin-bottom: 40px;
}

.padding-top {
    margin-top: 40px;
}

.icon {
    height: 50px;
    width: 50px;
    padding: 0 50px;

    transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}
.icon:hover {
    opacity: 70%;
}

.icon-container {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
}