body {
    background-color: #000319;
    margin-left: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

top {
    margin-bottom: 50px;
}
@media (max-width: 1500px) {
    .section {
        width: 70% !important;
    }
}

h1 {
    font-size: 42px;
    margin: 30px auto;
}
main {
    margin-top: 70px;
    margin-right: -10;
    margin-left: -10;
}
header {
    width: 100%;
    height: 69px;
    top: 0;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index:10;
    background-color: #050512
}

h1 > span {
    height: 40px;
    background-image: linear-gradient(90deg, #3d1d828f, #052c409c);
    padding: 15px 10px;
    border-radius: 8px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

a:hover {
    color: rgb(160, 214, 214);
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

.centralize {
    display: flex;
    width: 100%;
    justify-content: center;
}

.border-radius {
    border-radius: 15px;
}
nav ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
nav li {
    display: inline-block;
    padding: 0 30px;
}

article li {
    font-size: 22px;
    padding-left: 15px;
    padding-top: 7px;
}


.logo {
    padding: 0 30px;
    font-size: 2rem;
    font-weight: bold;
    margin: auto 0;
}

section {
    width: 100%;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 1.7rem;
    letter-spacing: 0.07rem;
}

figcaption p {
    font-size: 15px;
    opacity: 90%;
    line-height: 1.2rem;
}
figcaption a {
    font-size: 16px;
    text-decoration: underline;
}

main a {
    text-decoration: underline;
}
section {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: #0003190d
}

.intro {
    padding: 30px;
    margin-top: 70px;
    border: none;
}

.section-banner {
    padding: 30px;
    margin-top: 100px;
}

.img-weathery {
    height: 478px;
    width: 801px;
    margin: 30px 0;
}
.section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-me {
    display: flex;
    justify-content: flex-end;
}

.picture {
    width: 320px;
    height: 320px;
    border-radius: 15px;
}
.intro-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.intro-container p {
    text-align: center;
}

.logo-container {
    display: flex;
}

.h2 {
    font-size: 42px;
}

#weathery {
    background-image: linear-gradient(180deg, #00244d78, #49000045);
}
#lorem {
    background-image: linear-gradient(130deg, #5935139e, #0002ba3d);
}
#reddit {
    background-image: linear-gradient(44deg, #2196f338, transparent);
}
#game-of-divs {
    background-image: linear-gradient(44deg, #06225170, #05392b6e);
}
#birthday {
    background-image: linear-gradient(149deg, #210651ba, #0a39059c);
}

.padding-bottom {
    margin-bottom: 40px;
}

.padding-top {
    margin-top: 40px;
}